body{
    width: 1000px;
    margin: 0 auto;
    border: #999999 1px dotted;
    padding: 10px;
}

h2 {
    background: #abafee;
}

pre {
    border: 1pt solid #AEBDCC;
    background-color: #F3F5F7;
    padding: 5pt;
    font-family: courier, monospace;
    font-size: 90%;
    overflow:auto;
  }
